body {
    background-color: rgb(190, 233, 190);
}

main {
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(190, 233, 190);
    display: flex;
}

.header {
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(190, 233, 190);
    border-radius: 15px;
    margin-left: 10px;
    color: rgba(38, 70, 38, 0.767);
}

.header_logo {
    height: 70px;
    width: 70px;
    margin-left: 5px;
    float: left;
}

.header h1 {
    text-align: center;
    height: 50px;
    font-size: 40px;
    padding: 10px;
}

.summary {
    background-color: rgb(59, 90, 59);
    width: 30%;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-bottom: 7px;
    border-style: solid;
    border-color: rgb(161, 226, 161);
}

.summary hr {
    width: 90%;
    border-color: rgb(161, 226, 161);
}

.summary img {
    height: 300px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

/*Added a hover effect on the profile image to make the web page responsive*/
.summary img:hover {
    height: 350px;
    margin-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    transition-timing-function: ease;
}

.summary h1 {
    font-weight: 400;
    color: rgb(161, 226, 161);
}

.about_me {
    color: rgb(223, 220, 218);
}

ul li {
    color: rgb(223, 220, 218);
}

.profile {
    color: rgb(223, 220, 218);
}

ul li {
    list-style-type: none;
}

/*I went with circles to indicate each point as opposed to the conventional bullet points*/
.summary .p_skills li {
    list-style-type: circle;
}

.side_panel {
    padding-bottom: 10px;
}

.logo_images img {
    height: 20px;
    width: 22px;
    float: left;
}

.logo_images img:hover {
    height: 25px;
    width: 27px;
    float: left;
}

.packet {
    display: inline-flex;
}

.packet a {
    text-decoration: none;
    color: rgb(223, 220, 218);
}

.profile {
    margin-left: 5px;
}

.main_content {
    width: 70%;
    background-color: rgb(161, 226, 161);
    margin-left: 30px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-bottom: 7px;
    border-style: solid;
    border-color: rgba(38, 70, 38, 0.767);
}

.main_content h1 {
    margin-left: 25px;
    font-weight: 700;
    color: rgba(38, 70, 38, 0.767);
}

.main_content h2 {
    margin-left: 25px;
    font-size: large;
    color: rgba(38, 70, 38, 0.767);
}

.main_content span {
    font-style: italic;
}

.main_content hr {
    width: 90%;
    border-color: rgba(38, 70, 38, 0.767);
}

.main_content ul li {
    list-style-type: circle;
    color: rgb(59, 90, 59);
}

footer {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(161, 226, 161);
    display: flex;
    color: rgb(59, 90, 59);
    border-style: solid;
    border-color: rgba(38, 70, 38, 0.767);
}

footer p {
    margin-left: 250px;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: rgb(161, 226, 161);
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgba(38, 70, 38, 0.767)
}

.navbar a {
    margin: 10px 60px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgba(38, 70, 38, 0.767);
}

/*I had trouble with positioning the links on the navbar during the hover effect, so i used a smaller-sized font that would not make the entire navbar react when hovering over one link*/
.navbar a:hover {
    color: rgb(59, 90, 59);
    font-weight: 500;
}

/*I spent some time on MDN Web Docs and w3schools.com to reference different CSS elements to help me understand their application better*/
/*https://www.w3schools.com/css/default.asp*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS*/